---
interface Props {
  href?: string;
}

const { href = '/' } = Astro.props;
---

<a 
  href={href}
  class="inline-flex items-center text-secondary-600 hover:text-secondary-800 transition-colors mb-6 group"
>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    class="h-5 w-5 mr-2 transform group-hover:-translate-x-1 transition-transform" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke="currentColor"
  >
    <path 
      stroke-linecap="round" 
      stroke-linejoin="round" 
      stroke-width="2" 
      d="M10 19l-7-7m0 0l7-7m-7 7h18"
    />
  </svg>
  <span class="font-medium">Back</span>
</a> 